<section class="footer">
    <div class="footer-row">
      <div class="footer-col">
        <h4>Kategoriler</h4>
        <ul class="links">
            <li *ngFor="let category of categories">
                <a [routerLink]="['/category', category]" 
                   (click)="navigateToCategory(category)"
                   [ngClass]="{'selected-category': category === selectedCategory}">
                  {{ category }}
                </a>
              </li>
        </ul>
      </div>
      
      <div class="footer-col">
        <h4>Newsletter</h4>
        <p>
          Subscribe to our newsletter for a weekly dose
          of news, updates, helpful tips, and
          exclusive offers.
        </p>
        <form action="#">
          <input type="text" placeholder="Your email" required>
          <button type="submit">SUBSCRIBE</button>
        </form>
        <div class="icons">
          <i class="fa-brands fa-facebook-f"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-linkedin"></i>
          <i class="fa-brands fa-github"></i>
        </div>
      </div>
    </div>
  </section>