<section class="footer">
    <div class="footer-row">
      <div class="footer-col">
        <h4>Kategoriler</h4>
        <ul class="links">
            <li *ngFor="let category of categories">
                <a [routerLink]="['/category', category]" 
                   (click)="navigateToCategory(category)"
                   [ngClass]="{'selected-category': category === selectedCategory}">
                  {{ category }}
                </a>
              </li>
        </ul>
      </div>
      
      <div class="footer-col">
        <h4>Bültene Abone Ol</h4>
        <p>
          Haberlerimizi düzenli olarak e-posta adresinize almak isterseniz bültenimize abone olabilirsiniz!
        </p>
        <form action="#">
          <input type="mail" placeholder="Email adresiniz" required>
          <button type="submit">Abone</button>
        </form>
        <div class="icons">
          <a href="https://www.linkedin.com/in/mehmethandoru/" target="_blank"><img src="../../assets/icons/linkedin-in.svg" alt="linkedin"></a>
          <a href="https://github.com/MehmethanDoru" target="_blank"><img src="../../assets/icons/github.svg" alt="github"></a>
          <a href="https://www.instagram.com/dorumehmethan/" target="_blank"><img src="../../assets/icons/instagram.svg" alt="instagram"></a>
        </div>
      </div>
    </div>
  </section>