<div class="container">
    <div id="about">
        HAKKIMDA
    </div>
    <div class="section1">
        <div id="left">
            3. sınıf bilgisayar mühendisliği öğrencisi olarak akademik gelişimimi
            sürdürürken, aynı zamanda çeşitli projeler geliştirerek ve gönüllülük
            faaliyetlerinde yer alarak kendimi geliştiriyorum. Erasmus programı
            kapsamında aldığım eğitim ve deneyimler, beni daha iyi bir
            bilgisayar mühendisi olmanın yanı sıra farklı kültürlerle etkileşimde
            bulunma ve takım çalışmasında en iyisini hedeflememi sağladı.
            Erasmus+ programı esnasında siber güvenlik alanında 3 kişilik bir
            ekiple İngilizce bilimsel makale yazdık ve bu makalenin sunumunu
            Litvanya’da “20th Methodical International Students' Symposium” da
            gerçekleştirdim. Ancak web geliştirme alanında çok daha keyif
            aldığımdan bu alanda ilerliyorum. Bunun için eğitimler alıyor ve
            örnek projeler geliştiriyorum.
        </div>
        <div id="right">
            <img src="../../assets/aboutMe.jpg" alt="Profil Resmi" id="image">
        </div>
    </div>

    <br>

    <div class="section2">
        <div class="email">
            <img src="../../assets/icons/email.svg" alt="email">
            <a href="mailto:mdoru22@gmail.com">
                <p class="emailText">mdoru22@gmail.com</p>
            </a>
        </div>
        <div class="phone">
            <img src="../../assets/icons/phone.svg" alt="phone">
            <a href="tel:+905419289474">
                <p class="phoneText">+90 541 928 9474</p>
            </a>
        </div>
    </div>

    <div class="icons">
        <a href="https://www.linkedin.com/in/mehmethandoru/" target="_blank"><img
                src="../../assets/icons/linkedin-in.svg" alt="linkedin"></a>
        <a href="https://github.com/MehmethanDoru" target="_blank"><img src="../../assets/icons/github.svg"
                alt="github"></a>
        <a href="https://www.instagram.com/dorumehmethan/" target="_blank"><img src="../../assets/icons/instagram.svg"
                alt="instagram"></a>
    </div>

    <div class="skills">
        <div class="container__progressbars">

            <div class="progressbar">
                <svg class="progressbar__svg">
                    <circle cx="80" cy="80" r="70" class="progressbar__svg-circle circle-html shadow-html"> </circle>
                </svg>
                <span class="progressbar__text shadow-html">HTML</span>
            </div>

            <div class="progressbar">
                <svg class="progressbar__svg">
                    <circle cx="80" cy="80" r="70" class="progressbar__svg-circle circle-css shadow-css"> </circle>
                </svg>
                <span class="progressbar__text shadow-css">CSS</span>
            </div>

            <div class="progressbar">
                <svg class="progressbar__svg">
                    <circle cx="80" cy="80" r="70" class="progressbar__svg-circle circle-js shadow-js"> </circle>
                </svg>
                <span class="progressbar__text shadow-js">JavaScript</span>
            </div>

            <div class="progressbar">
                <svg class="progressbar__svg">
                    <circle cx="80" cy="80" r="70" class="progressbar__svg-circle circle-bt shadow-bt"> </circle>
                </svg>
                <span class="progressbar__text shadow-bt">Bootstrap</span>
            </div>

            <div class="progressbar">
                <svg class="progressbar__svg">
                    <circle cx="80" cy="80" r="70" class="progressbar__svg-circle circle-php shadow-php"> </circle>
                </svg>
                <span class="progressbar__text shadow-php">PHP</span>
            </div>

            <div class="progressbar">
                <svg class="progressbar__svg">
                    <circle cx="80" cy="80" r="70" class="progressbar__svg-circle circle-mysql shadow-mysql"> </circle>
                </svg>
                <span class="progressbar__text shadow-mysql">MySQL</span>
            </div>
            <div class="progressbar">
                <svg class="progressbar__svg">
                    <circle cx="80" cy="80" r="70" class="progressbar__svg-circle circle-angular shadow-angular">
                    </circle>
                </svg>
                <span class="progressbar__text shadow-angular">Angular</span>
            </div>
        </div>

    </div>

    <div class="education-section">
        <h1 class="section-title" style="font-family: 'Roboto', sans-serif;
        ">Eğitim Bilgilerim</h1>
    </div>
    <div class="education-details">
        <div class="education">
            <h2 class="university">Karabük Üniversitesi</h2>
            <p class="program">Bilgisayar Mühendisliği</p>
            <p class="date">2020 - devam ediyor</p>
        </div>
        <div class="education">
            <h2 class="university">Lietuvos Verslo Kolegija</h2>
            <p class="program">Computer Science (Erasmus+)</p>
            <p class="date">2023 - 2023</p>
        </div>
    </div>


    <div class="section3">
        <div class="volunteerTitle">
            <h1 style="color: rgb(12, 40, 84);;">Gönüllü Faaliyetler</h1>
        </div>
        <div class="volunteam">
            <h3>Volunteam Ekip Üyesi</h3>
            <h5>Erasmusplustürkiye | Ağustos 2023 - halen</h5>
            <p>Erasmus+ değişim programı kapsamında kazandığım kültürel
                farkındalık, iletişim yeteneklerimi ve işbirliği yapma yetimizi
                geliştirmeme yardımcı olması sonucunda Erasmus+’ın diğer kişiler
                tarafından da yapılması gerektiğini düşündüğümden bu ekipte
                bulunmaya karar verdim. Erasmus+, ESC ve diğer değişim
                programlarının yaygınlaştırılması için bu ekipte yer alıyorum.</p>
        </div>
    </div>

    <h1 style="font-family: 'Roboto', sans-serif; color: rgb(12, 40, 84);;
    ">Projeler</h1>
    <div class="projects">
        <div class="project1">
            <div class="card">
                <img src="../../assets/icons/car-solid.svg" alt="Vehride">
                <div class="card__content">
                    <p class="card__title">Vehride</p>
                    <h5>Araç Kiralama Sitesi (Fullstack & Responsive)</h5>
                    <p class="card__description">Front-end ve Back-end teknolojileri ile geliştirdiğim bir araç kiralama
                        sitesi. Veri tabanından araç uygunluk kontrolü, rezervasyon iptali,
                        cookie kullanımı ve üyelik gibi özellikleri barındırıyor.</p>
                    <p><a href="http://vehride.epizy.com/" target="_blank">Demo için tıklayınız...</a></p>
                </div>
            </div>
        </div>

        <div class="project2">
            <div class="card">
                <img src="../../assets/icons/qrcode-solid.svg" alt="qrMenu">
                <div class="card__content">
                    <p class="card__title">QR Menü</p>
                    <h5>(Yönetim paneli ile birlikte)</h5>
                    <p class="card__description" style="margin-top: -15px;">Yönetim panelinden stok, fiyat, ürün adı ve açıklamasının
                        güncellenebildiği dinamik bir web sitesi şeklindeki menü. Yönetim panelinin tasarımı responsive yapılmıştır.</p>
                        <p ><a href="https://qrmenu.mehmethandoru.com/" target="_blank">Demo için tıklayınız...</a></p>
                        <p style="margin-top: -14px;"><a href="https://qrmenu.mehmethandoru.com/admin-giris.php" target="_blank">Yönetim Paneli için tıklayınız...</a></p>
                        <p style="margin-top: -17px;">Kullanıcı adı: admin ||| Şifre: admin123</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cv-button">
    <a href="https://drive.google.com/file/d/1SKph_PlcMrrW0FDTuBLSG4T7iYWsYvKu/view?usp=sharing" download="CV-Mehmethan-Doru.pdf" target="_blank">CV İndir</a>
</div>
