<nav class="navbar">
  <div class="menu">
    <ul [ngClass]="{'open': showMenu}">
      <li *ngFor="let category of categories">
        <a [routerLink]="['/category', category]" 
           (click)="navigateToCategory(category)"
           [ngClass]="{'selected-category': category === selectedCategory}">
          {{ category }}
        </a>
      </li>
    </ul>
  </div>
  <div class="menu-button" (click)="toggleMenu()" >
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
</nav>
<hr class="custom-hr">


