/* FILTRELEME START */
.categories {
  background-color: #b2b0b063;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 200px;
  float: left;
  position: fixed;
}

.categories h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

label {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #555;
  font-size: 14px;
}

input[type="checkbox"] {
  margin-right: 10px;
  transform: scale(1.2);
}

input[type="checkbox"]:checked + label {
  font-weight: bold;
  color: #ff0095;
}
/* FILTRELEME END */


.name {
  display: inline-block;
  white-space: nowrap;
  margin-top: 30px;
  margin-left: 21%;
  font-size: 14px;
  color: #aaa9a9;
  border-bottom: 1px solid rgb(76, 76, 76);
}

.news-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
}

.news-item {
  width: calc(70%);
  border: 1px solid #b2b0b063;
  border-radius: 20px;
  padding: 13px;
  margin: 10px 7px 7px 7px;
  background-color: rgba(225, 222, 222, 0.26);
}

.news-item:hover {
  transform: scale(1.02);
  transition: transform 0.3s;
}

.news-item img {
  outline: 2px solid #b2b0b063;
  border-radius: 10px;
  display: block; 
  margin: 0 auto 9px auto; 
  padding: 7px;
  float: left;
}

.news-title{
  padding: 0 5px;
  margin: 10px 0 7px 160px;
  text-align: justify;
  font-weight: bold;
  cursor: pointer;
}

.news-author{
  padding: 0 5px;
  font-style: italic;
  margin-left: 160px;
  margin-top: 13px;
}

span{
  padding: 0 5px;
  font-size: 13px;
  margin-left: 17px;
}

.bookmarks{
  margin-left: 2px;
  cursor: pointer;
  color: #c9c9c9;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  cursor: pointer;
  background-color: rgba(198, 199, 201, 0.305);
  padding: 4px 8px;
  border-radius: 50%;
  color: #252424
}

.pagination button:hover {
  background-color: #252424;
  color: #d9d8d8;
}
.pagination button.active-page {
  background-color: #252424;
  color: #d9d8d8;
}


@media screen and (max-width: 768px) {
  .news-item {
      margin-left: 10%;
      width: calc(80%);
      justify-content: center;
  }
  .categories {
    width: 500px;
  }
}

@media screen and (min-width: 769px) {
  .news-item {
      margin-left: 10%;
      width: calc(90%);
      justify-content: center;
  }
  .categories {
  }
}

@media screen and (min-width: 1130px) {
  .news-item {
      margin: 30px 7px 7px 20%;
      width: calc(80%);
  }
}
