body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.news-card {
    position: absolute;
    height: 370px;
    width: 100%;
    max-width: 850px;
    margin-left: 6%;
    margin-top: 17px;
    border-radius: 25px;
    background: rgba(225, 222, 222, 0.26);
}

.inner-part {
    position: absolute;
    display: flex;
    height: 360px;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
    width: 100%;
}

.inner-part .img {
    height: 260px;
    width: 260px;
    overflow: hidden;
    border-radius: 20px;
}

#imgTap:checked~.inner-part .img {
    height: 370px;
    width: 850px;
    z-index: 99;
    margin-top: 10px;
}

.img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0;
}

#tap-1:checked~.inner-part .img-1,
#tap-2:checked~.inner-part .img-2,
#tap-3:checked~.inner-part .img-3 {
    opacity: 1;
    transition-delay: .3s;
}

.content {
    padding: 0 20px 0 35px;
    width: 530px;
    margin-left: 50px;
    opacity: 0;
    transition: .4s;
}

#tap-1:checked~.inner-part .content-1,
#tap-2:checked~.inner-part .content-2,
#tap-3:checked~.inner-part .content-3 {
    opacity: 1;
    margin-left: 0px;
    z-index: 100;
    transition-delay: .3s;
}

.content span {
    display: block;
    color: #7b7992;
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 500;
}

.content .title {
    font-size: 30px;
    font-weight: bold;
    color: #0d0925;
    margin-bottom: 20px;
}

.content button {
    padding: 15px 20px;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff0e6;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    border: 1px solid #fd3535;
    background: #fd3535
}

.content button:hover {
    background: #ef8c0b
}

.sliders {
    position: absolute;
    bottom: 25px;
    left: 65%;
    transform: translateX(-50%);
    z-index: 12;
}

.sliders .tap {
    position: relative;
    height: 10px;
    width: 50px;
    background: #d9d9d9;
    border-radius: 5px;
    display: inline-flex;
    margin: 0 3px;
    cursor: pointer;
}

.sliders .tap:hover {
    background: #cccccc;
}

.sliders .tap:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: -100%;
    background: #ef5f0b;
    border-radius: 10px;
}

input[type="radio"] {
    display: none;
}

#tap-1:checked~.sliders .tap-1:before,
#tap-2:checked~.sliders .tap-2:before,
#tap-3:checked~.sliders .tap-3:before {
    width: 100%;
}


@media (max-width: 768px) {
    .news-card {
        width: 90%;
        height: 74%;
        margin: 10px 0 0 0;
        padding: 0;
        z-index: 10000;

    }

    .content .title {
        font-size: 18px;
    }

    .content span {
        font-size: 15px;
    }

    .inner-part {
        flex-direction: column;
        height: auto;
        padding: 0;
        z-index: 10000;

    }

    .img {
        order: 1;
        height: auto;
        max-width: 80%;
        margin: 20px 0;
        align-items: center;
    }

    .content {
        order: 2;
        height: auto;
        width: 100%;
    }

    .sliders {
        left: 50%;
        margin-top: -200px;
    }

    .content button {
        padding: 10px 15px;
        font-size: 12px;
    }
}